<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/clmtrackr/js/utils.js"></script>
    <script src="/clmtrackr/clmtrackr.js"></script>
    <script src="/clmtrackr/models/model_pca_20_svm_emotionDetection.js"></script>
    <script src="/clmtrackr/js/stats.js"></script>
    <script src="/clmtrackr/js/d3.min.js"></script>
    <script src="/clmtrackr/js/emotion_classifier.js"></script>
    <script src="/clmtrackr/js/emotionmodel.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div id="main" ui-view></div>
</body>
</html>
